<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.DishesMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Dishes" >
    <id column="dish_id" property="dishId" jdbcType="INTEGER" />
    <result column="dish_name" property="dishName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="dish_pic" property="dishPic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >dish_id, dish_name, price, intro, detail, type, dish_pic</sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.entity.DishesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dishes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dishes
    where dish_id = #{dishId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >

    delete from dishes
    where dish_id = #{dishId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.entity.DishesExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Feb 24 09:38:46 CST 2022.
    -->
    delete from dishes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Dishes" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Feb 24 09:38:46 CST 2022.
    -->
    insert into dishes (dish_id, dish_name, price, 
      intro, detail, type, 
      dish_pic)
    values (#{dishId,jdbcType=INTEGER}, #{dishName,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{intro,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{dishPic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Dishes" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Feb 24 09:38:46 CST 2022.
    -->
    insert into dishes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dishId != null" >
        dish_id,
      </if>
      <if test="dishName != null" >
        dish_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="dishPic != null" >
        dish_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dishId != null" >
        #{dishId,jdbcType=INTEGER},
      </if>
      <if test="dishName != null" >
        #{dishName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="dishPic != null" >
        #{dishPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.entity.DishesExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Feb 24 09:38:46 CST 2022.
    -->
    select count(*) from dishes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Feb 24 09:38:46 CST 2022.
    -->
    update dishes
    <set >
      <if test="record.dishId != null" >
        dish_id = #{record.dishId,jdbcType=INTEGER},
      </if>
      <if test="record.dishName != null" >
        dish_name = #{record.dishName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.intro != null" >
        intro = #{record.intro,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null" >
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.dishPic != null" >
        dish_pic = #{record.dishPic,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Feb 24 09:38:46 CST 2022.
    -->
    update dishes
    set dish_id = #{record.dishId,jdbcType=INTEGER},
      dish_name = #{record.dishName,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      intro = #{record.intro,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      dish_pic = #{record.dishPic,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Dishes" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Feb 24 09:38:47 CST 2022.
    -->
    update dishes
    <set >
      <if test="dishName != null" >
        dish_name = #{dishName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="dishPic != null" >
        dish_pic = #{dishPic,jdbcType=VARCHAR},
      </if>
    </set>
    where dish_id = #{dishId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Dishes" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Feb 24 09:38:47 CST 2022.
    -->
    update dishes
    set dish_name = #{dishName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      intro = #{intro,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      dish_pic = #{dishPic,jdbcType=VARCHAR}
    where dish_id = #{dishId,jdbcType=INTEGER}
  </update>
</mapper>